.popup__container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 330px; 
    background-color: white; 
    margin: auto;
    border-radius: 10px;
    position: relative;
    left: auto;
    top: auto;
  }
  
  @media screen and (max-width: 880px) {
    .popup__container-info {
      min-width: 282px;
    }
  }